body{
    background-image: url(../../src/background_principal.webp) !important;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}